*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body{
    background:#f4f6f9;
    transition:0.4s;
}

body.dark{
    background:#121212;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:rgba(0,0,0,0.6);
    color:white;
    position:fixed;
    width:100%;
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a, nav button{
    color:white;
    text-decoration:none;
    background:none;
    border:none;
    cursor:pointer;
    font-size:16px;
}

.hero{
    height:100vh;
    position:relative;
    overflow:hidden;
}

.slider{
    position:absolute;
    width:100%;
    height:100%;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    opacity:0;
    transition:opacity 1s ease-in-out;
}

.slide:nth-child(1){
    background-image:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
}
.slide:nth-child(2){
    background-image:url('https://unsplash.com/photos/waterfalls-in-the-middle-of-green-trees-during-daytime-X5CyweAStIY');
}
.slide:nth-child(3){
    background-image:url('https://images.unsplash.com/photo-1501785888041-af3ef285b470');
}

.slide.active{
    opacity:1;
}

.hero-text{
    position:relative;
    top:40%;
    text-align:center;
    color:white;
}

.hero-text button{
    padding:10px 20px;
    border:none;
    background:#ffb703;
    cursor:pointer;
    margin-top:10px;
}

.destinations{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:120px 40px 60px;
}

.card{
    perspective:1000px;
}

.card-inner{
    position:relative;
    width:100%;
    height:300px;
    transform-style:preserve-3d;
    transition:transform 0.8s;
}

.card:hover .card-inner{
    transform:rotateY(180deg);
}

.card-front, .card-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card-front img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.card-front h3{
    position:absolute;
    bottom:10px;
    left:10px;
    color:white;
    background:rgba(0,0,0,0.6);
    padding:5px 10px;
}

.card-back{
    background:#023e8a;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:20px;
    transform:rotateY(180deg);
}

footer{
    text-align:center;
    padding:20px;
    background:#000;
    color:white;
}
